{% extends "base_generic.html" %}
{% load tz %}
{% load portfolio_extras %}
{% block title %}<title>TMI Canada</title>{% endblock %}
{% block content %}
<div class="jumbotron" style="background-color: #f4f4f4">
    <h1 style="font-family: Dosis, Helvetica, sans-serif">Share TMI <span style="font-size: 20px">(Too Much
            Information)</span> in Canada</h1>
</div>

<div class="container article-board">
    <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#myModal" style="margin-bottom:30px; color: gray;"><i
            class="fa fa-search"></i></button>
    <div class="topic-main">
        <ul class="list-group list-group-flush">
            <li class="list-group-item topic-header">
                <div class="topiclist row">
                    <div class="topic-location">Location</div>
                    <div class="topic-title col">Title</div>
                    <div class="topic-views">Views</div>
                    <div class="topic-replies">Replies</div>
                    <div class="topic-lastpost">Posted by/Date</div>
                </div>
            </li>
        </ul>
        {% if boards %}
        <ul class="list-group list-group-flush topic-body">
            {% for boardRow in boards %}
            <li class="list-group-item topic">
                <div class="topic-items row">
                    <div class="item-location">{{ boardRow.location }}</div>
                    <div class="item-title col"><a href="{% if user.is_authenticated %}{% url 'board-detail' boardRow.pk %}{% else %}{% url 'login' %}{% endif %} ">{{
                            boardRow.title }} </a></div>
                    <div class="item-views">{{ boardRow.views }}</div>
                    <div class="item-replies">{{ boardRow.commentss.count }}</div>
                    <div class="item-lastpost">{{ boardRow.name }} <br> {{ boardRow.created_at|timesince|upto:',' }}
                        ago</div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No data</p>
        {% endif %}
    </div>
    <div class="flex-row d-flex justify-content-between">
        <div class="mr-auto">
            <ul class="pagination pagenav pagination-sm">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">
                        <<</a> </li> <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                <</a> </li> {% else %} <li class="page-item disabled"><a class="page-link" href="#">
                                        <<</a> </li> <li class="page-item disabled"><a class="page-link" href="#">
                                                <</a> </li> {% endif %} {% for page in page_range %} <li {% if page==page_obj.number
                                                    %} class="page-item disabled" {% endif %}><a class="page-link" href="?page={{ page }}">{{
                                                        page }}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ next_page }}">></a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">></a></li>
                <li class="page-item disabled"><a class="page-link" href="#">>></a></li>
                {% endif %}
            </ul>

        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Search</h4>
                    </div>
                    <div class="modal-body" style="padding: 40px 10px">
                        <form action="{% url 'board_search_list_view' %}" method="get" accept-charset="utf-8">
                            <div class="form-group" style="margin-bottom:0">
                                <div class="col-xs-1">
                                    <input class="form-control" id="searchbox" name="q" type="text" placeholder="Search">
                                </div>

                            </div>


                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-info" type="submit">Search</button>
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="postbutton">
            {% if user.is_authenticated %}
            <a href="{% url 'writepost' %}"> <button type="button" class="btn btn-primary post">Post</button></a>
            {% else %}
            <div class="post">(You must log in or sign up to post here.)</div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}