{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="{% static 'js/color-match-game.js' %}" async></script>
        <title>Color match game</title>
        <link rel="stylesheet" href="{% static 'css/color-match-game.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    </head>
    <body>
        <canvas class="myCanvas">
        </canvas>
        <span class="score"></span>
        <button class="startbtn">Start</button>
        <p class="countdown"></p>
        <span class="svgmainsp">
            <svg width="250" height="100" id="svgmain">
            <rect x="0" y="0" rx="20" ry="20" width="250" height="100"
            style="fill:rgb(184, 184, 184);stroke:rgb(236, 236, 236);stroke-width:5;opacity:0.5;" />
            <text x="25" y="70" textLength="200" class="svgtext"></text>
            </svg>
        </span>
        <div class="OX" id="OX">
            <button id="O">O</button>
            <button id="X">X</button>
        </div>
        <div class="timer">

        </div>
        <button class="restart">Restart</button>
    </body>
</html>