<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dongbi Kim | Portfolio</title>
  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>

<body>
  <header>
    <div class="container-fluid ">
      <div class="header-block d-flex justify-content-between">
        <div style="font-size:14px"><i class="fas fa-file-download">resume</i></div>
        <img src="{% static 'img/logo.png' %}" alt='logo' class="logo">
        <ul class="list-group icons" style="font-size:10px">
          <a href="http://github.com/dbk81587?tab=repositories" target="_blank"><i class="fab fa-github"></i></a>
          <i class="fab fa-linkedin"></i>
          <a href="https://twitter.com/DongbiKim" target="_blank"><i class="fab fa-twitter"></i></a>
        </ul>
      </div>
    </div>
    </div>
  </header>
  <div class="jumboback">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-7" style="text-align: center">
        <a href="{% url 'board' %}">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'img/TMI-logo.png' %}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Forum</h3>
        <p>HTML, CSS, Python, Django, Bootstrap</p>
        <a class="btn btn-secondary" href="{% url 'board' %}">View Project</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-7">
        <a href="{% url 'color-match-game' %}">
          <img class="img-fluid rounded mb-3 mb-md-0 cmg" src="{% static 'img/cmg.png' %}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Color Match Game</h3>
        <p>HTML, CSS, Javascript</p>
        <a class="btn btn-secondary" href="{% url 'color-match-game' %}">View Project</a>
      </div>

    </div>
  </div>

  <footer class="tail">
    <div>
      <p>Copyright © Dongbi Kim 2018 ~</p>
    </div>
  </footer>
  <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/portfolio.js' %}"></script>
</body>

</html>